body {
  background: #f3f0f0;
  font-family: "Roboto" sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
}
button {
  border: none;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
/* HEADER */
.header {
  padding: 15px;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  gap: 40px;
}
.header__nav-link {
  color: rgba(18, 16, 12, 0.7);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.header-btn {
  color: #f9f9f9;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: 80px;
  height: 32px;
  border-radius: 12px;
  background: #12100c;
}
@media screen and (max-width: 840px) {
  .header__nav {
    display: none;
  }
}

/* HERO */

.hero {
  margin: 52px 0 0 0;
  padding: 15px 0;
}
.hero__content {
  display: flex;
  justify-content: space-between;
}
.hero__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero__title-text1 {
  color: #12100c;
  font-family: Roboto;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 88px;
}
.hero__title-text2 {
  color: rgba(18, 16, 12, 0.7);
  font-family: Roboto;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.92px;
}
.hero__footer {
  display: flex;
  align-items: center;
  gap: 24px;
}
.hero__footer-btn {
  color: #12100c;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22.5px;
  width: 160px;
  height: 46px;
  border-radius: 16px;
  background: #ffae33;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  border: none;
}
.hero__footer-text {
  color: rgba(18, 16, 12, 0.7);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.hero__footer__social-links-img {
  margin: 0 10px;
}
@media screen and (max-width: 1115px) {
  .hero__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  .hero__footer {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
}
@media screen and (max-width: 610px) {
  .hero__title-text1 {
    font-size: 38px;
    line-height: 50px;
  }
}
@media screen and (max-width: 500px) {
  .hero__title-text2 {
    font-size: 11px;
    line-height: 22px;
  }
}
@media screen and (max-width: 446px) {
  .hero__footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

/* CONTENT */

.content {
  margin: 221px 0 0 0;
  padding: 15px 0;
}
.content__texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.content-text1 {
  margin: 0;
  color: #12100c;
  text-align: center;
  font-family: Roboto;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 63.72px;
}
.content-text2 {
  margin: 0;
  color: #999795;
  text-align: center;
  font-family: Roboto;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 63.72px;

  text-decoration: line-through;
}
.content-text3 {
  margin: 0;
  color: #999795;
  text-align: center;
  font-family: Roboto;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 63.72px;
  text-decoration: line-through;
}
.content-text4 {
  margin: 0;
  color: #12100c;
  text-align: center;
  font-family: Roboto;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 63.72px;
}
@media screen and (max-width: 1115px) {
  .content-text1,
  .content-text2,
  .content-text3,
  .content-text4 {
    font-size: 34px;
    line-height: 43px;
  }
}
@media screen and (max-width: 700px) {
  .content {
    margin: 100px 0 0 0;
  }
  .content-text1,
  .content-text2,
  .content-text3,
  .content-text4 {
    font-size: 13px;
    line-height: 20px;
  }
}

/* CODING */

.coding {
  margin: 260px 0;
}
.coding__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.coding__title {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.coding__texts {
  display: flex;
  flex-direction: column;
}
.coding-text1 {
  margin: 0;
  color: #12100c;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
.coding-text2 {
  color: rgba(18, 16, 12, 0.7);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.92px;
}
.coding__btns {
  display: flex;
  align-items: center;
  gap: 20px;
}
.coding-btn1 {
  color: #12100c;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  width: 162px;
  height: 32px;
  border-radius: 10.5px;
  background: #ffae33;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.coding-btn2 {
  color: #12100c;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  width: 146px;
  height: 32px;
  border-radius: 10.5px;
  background: #ffb0ae;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.content-img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
}
@media screen and (max-width: 1115px) {
  .coding__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }
  .coding__btns {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}
@media screen and (max-width: 700px) {
  .coding-text1 {
    font-size: 17px;
    line-height: 20px;
  }
  .coding-text2 {
    font-size: 9px;
    line-height: 15px;
  }
}
@media screen and (max-width: 420px) {
  .coding__btns {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

/* SECURE */

.secure {
  margin: 300px 0 0 0;
}
.secure__title {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.secure-header {
  color: #12100c;
  text-align: center;
  font-family: Roboto;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 71.82px;
}
/* .secure-img {
  width: 100%;
  border-radius: 14px;
  box-shadow: -2px 2px 15px 8px rgba(255, 138, 0, 0.4);
} */
.secure-text {
  padding: 0 216px;
  color: rgba(18, 16, 12, 0.7);
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.92px;
  margin: 0;
}
.secure__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.secure-btn1 {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #12100c;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.86px;
  width: 207px;
  height: 47px;
  border-radius: 9px;
  background: #fff;
  box-shadow: 0px 0.5px 2px 0px rgba(0, 0, 0, 0.1);
}
.secure-btn2 {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #12100c;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.86px;
  width: 207px;
  height: 47px;
  border-radius: 9px;
  background: #fff;
  box-shadow: 0px 0.5px 2px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1150px) {
  .secure-text {
    padding: 20px;
  }
}
@media screen and (max-width: 816px) {
  .secure-header {
    font-size: 28px;
  }
}
@media screen and (max-width: 940px) {
  .secure-text {
    font-size: 10px;
    line-height: 19px;
  }
}
@media screen and (max-width: 450px) {
  .secure-header {
    font-size: 15px;
  }
  .secure__btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
  }
}

/* DEVELOPERS */

.developers {
  margin: 184px 0 0 0;
}
.developers__content {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.developers-header {
  color: #12100c;
  text-align: center;
  font-family: Roboto;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 63.72px;
  margin: 0;
}
.developers__cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.developers__card {
  padding: 20px;
  width: 384px;
  height: 272px;
  border-radius: 16px;
  background: #fff;
}
.developers-text1 {
  color: #12100c;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.developers-text2 {
  color: #12100c;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.developers__footer {
  display: flex;
  gap: 20px;
}
.developers__texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.developers-text3 {
  color: #12100c;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.developers-text4 {
  color: #12100c;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.developers__footer img {
  object-fit: cover;
  width: 48px;
  height: 48px;
  border-radius: 9999px;
}
@media screen and (max-width: 830px) {
  .developers-header {
    font-size: 30px;
  }
  .developers__content {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
@media screen and (max-width: 460px) {
  .developers__card {
    height: 100%;
  }
}
@media screen and (max-width: 450px) {
  .developers-header {
    font-size: 14px;
  }
  .developers__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
